#orderList {
  font-size: 16px;

}

li:hover {
  text-decoration: underline;
  font-weight: 500px;
  color: #0000EE;
}

.subHead {
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}

.deliveryForm, #orderList, #orderRecap {
  display: none;
}

#submitAdd {
  justify-content: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
